<div class="row">
  <% @response.each do |x| %>
  
    <div class="col-sm-4 col-md-3 text-center panel panel-default panel-body">
      <img src="<%= x['image_url'] %>" class="img-circle">
    
      <h2><%= link_to x['name'], beach_path(x['id']) %></h2>
    
      <img src="<%= x['rating_img_url'] %>">
    
      <p><%= x['review_count']%> Yelp ratings</p>
      
      <% if x['location']['postal_code'] %>
        <% @weather = weather(x['location']['postal_code']) %>
        <p>
          <img src="<%= @weather['current_observation']['icon_url'] %>">
          <%= @weather['current_observation']['weather'] %>, <%= @weather['current_observation']['temperature_string'] %>
        </p>
      <% end %>
        
      <% @destination = get_destination(x['location']['address'][0], x['location']['postal_code']) %>
        
      <% unless @destination.empty? %>
        <% @results = mapquest_api(@origin, @destination) %>
        <% unless @results['route'].empty? %>
          <p><%= @results['route']['realTime']/60 %> minutes away</p>
        <% end %>
      <% end %>

    </div>
  <% end %>
</div>