<div class="row">
  <h1><%= @beach.name %></h1>
  <img src="<%= @beach.main_image %>">
</div>
<div class="row">
  <%= @response['location']['display_address'][0] %><br>
  <%= @response['location']['display_address'][1] %><br>
  <%= @response['location']['display_address'][3] %>
  
</div>