<div class="row">
  <h1><%= @beach.name %></h1>
  <img src="<%= @beach.main_image %>">
</div>

<div class="row">
  <address>
    <%= @response['location']['display_address'][0] %><br>
    <%= @response['location']['display_address'][1] %><br>
    <%= @response['location']['display_address'][3] %>
  </address>
</div>

<% unless @results['routes'].empty? %>
  <div class="row">
    Travel time: <%= @results['routes'][0]["legs"][0]["duration"]["text"] %>
  </div>
<% end %>