<% unless cookies[:coordinates] %>
  <script>
    getGeoLocation();
  </script>
<% end %>

<div class="page-header">
  <div class="container">
      <h1><%= @beach.name %> <small><a href="<%= @yelp_response['url'] %>" target="_blank"><img src="<%= @yelp_response['rating_img_url'] %>"></a> <%= @yelp_response['review_count'] %> reviews</small></h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <img src="<%= @beach.main_image %>">
    <div class="col-sm-4 col-md-4 col-md-offset-1 well pull-right">
      <address>
        <%= @yelp_response['location']['address'][0] %><br>
          <% if @yelp_response['location']['cross_streets'] %>
            Cross streets: <%= @yelp_response['location']['cross_streets'] %><br>
          <% end %>
        <%= @yelp_response['location']['city'] %>, <%= @yelp_response['location']['state_code'] %> <%= @zip %><br>
        <a href="<%= @directions %>">Directions</a>
      </address>

      <% if !@drive_time['route'].empty? || !@drive_time.nil? %>
        <p>
          <strong>Distance:</strong> <%= @drive_time['route']['distance'] %> miles<br>
          <strong>Regular Travel Time:</strong> 
          <%= @drive_time['route']['time']/60 %> minutes<br>
          <strong>Current Travel time:</strong> 
          <%= @drive_time['route']['realTime']/60 %> minutes
        </p>
      <% end %>
      <p><a href="<%= photos_link(@beach.name, @yelp_response['location']['city']) %>">See photos on Flickr</a></p>
    </div>

    <%= render "yelp_reviews" %>

  </div>

<% cache(@yelp_response['id'], :expires_in => 5.minutes) do %>
  <% @weather = weather(@zip) %>
  <div class="row">
    <h2>Weather Information</h2>
    <% if @weather['current_observation'] %>
    <div class="col-md-6">

      <div class="row">
        <div class="col-md-2 pull-left">
          <p class="current_temp"><img src="<%= @weather['current_observation']['icon_url'] %>">
          </p>
        </div>
        <div class="col-md-10 pull-right">
          <p><span class="current_temp"><%= @weather['current_observation']['temperature_string'] %></span><br>
            <%= @weather['current_observation']['weather'] %>
          </p>
        </div>
      </div>
      <p><strong><%= @weather['forecast']['txt_forecast']['forecastday'][0]['title'] %>:</strong> <%= @weather['forecast']['txt_forecast']['forecastday'][0]['fcttext'] %></p>
      <p><strong><%= @weather['forecast']['txt_forecast']['forecastday'][1]['title'] %>:</strong> <%= @weather['forecast']['txt_forecast']['forecastday'][1]['fcttext'] %></p>

      <p>
        <a href="<%= @weather['current_observation']['forecast_url'] %>" target="_blank">Full Forecast</a>
      </p>
    </div>
    
    <div class="col-md-6 table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Feels like:</td>
            <td><%= @weather['current_observation']['feelslike_string'] %></td>
          <tr>
            <td>Humidity:</td>
            <td><%= @weather['current_observation']['relative_humidity'] %></td>
          </tr>
          <tr>
            <td>Wind:</td>
            <td><%= @weather['current_observation']['wind_string'] %></td>
          </tr>
          <tr>
            <td>UV Index:</td>
            <td><%= @weather['current_observation']['UV'] %> out of 16</td>
          </tr>
          <tr>
            <td>Sunset:</td>
            <td><%= @weather['sun_phase']['sunset']['hour'] %>:<%= @weather['sun_phase']['sunset']['minute'] %></td>
          </tr>
        </tbody>
      </table>
      <p>
        <strong>Observed location:</strong> <%= @weather['current_observation']['observation_location']['city'] %><br>
        <em><%= @weather['current_observation']['observation_time'] %></em>
      </p>
    </div>
    <% else %>
      <p>Sorry there is no weather information for this location currently available.</p>
    <% end %>
  </div>
  <% end %>
</div>