<div class="container">
  <div class="row page-header">
    <h1><%= @beach.name %> <small><a href="<%= photos_link(@response['id']) %>">See photos on Flickr</a></small></h1>
  </div>

  <div class="row">
    <img src="<%= @beach.main_image %>">
    <div class="col-sm-4 col-md-4 pull-right well">
      <address>
        <%= @response['location']['address'][0] %><br>
          <% if @response['location']['cross_streets'] %>
            Cross streets: <%= @response['location']['cross_streets'] %><br>
          <% end %>
        <%= @response['location']['city'] %>, <%= @response['location']['state_code'] %> <%= @response['location']['postal_code'] %><br>
        <a href="<%= @directions %>">Directions</a>
      </address>

      <% unless @results['route'].empty? %>
        <p>
          <strong>Distance:</strong> <%= @results['route']['distance'] %> miles<br>
          <strong>Regular Travel Time:</strong> 
          <%= @results['route']['time']/60 %> minutes<br>
          <strong>Current Travel time:</strong> 
          <%= @results['route']['realTime']/60 %> minutes
        </p>
      <% end %>

      <p><a href="<%= @response['url'] %>" target="_blank"><img src="<%= @response['rating_img_url'] %>"></a> 
      <%= @response['review_count'] %> reviews from <a href="http://www.yelp.com"><img src="/assets/yelp_logo_50x25.png"></a></p>
    </div>

    <div class="col-md-8 pull-left">
      
      <p><strong>Some reviews from Yelp</strong></p>
      <% @response['reviews'].each do |review| %>
        <p><img src="<%= review['rating_image_small_url']%>"><br>
          <%= review['excerpt'] %> <a href="<%= @response['url'] %>#hrid:<%= review['id']%>" target="_blank">Read more</a><br>
        </p>
      <% end %>
    </div>
  </div

  <div class="row">
    <h2>Weather Information</h2>

    <div class="col-md-6 pull-left">

      <div class="row">
        <div class="col-md-4 pull-left">
          <p class="current_temp"><img src="<%= @weather['current_observation']['icon_url'] %>"><br>
            <%= @weather['current_observation']['weather'] %></p>
        </div>
        <div class="col-md-8 pull-right current_temp">
          <p class="current_temp"><%= @weather['current_observation']['temperature_string'] %></p>
        </div>
      </div>


      <p>
        <a href="<%= @weather['current_observation']['forecast_url'] %>" target="_blank">Full Forecast</a>
        <strong>Sunset:</strong> <%= @weather['sun_phase']['sunset']['hour'] %>:<%= @weather['sun_phase']['sunset']['minute'] %><br>

      </p>
    </div>
    
    <div class="col-md-6 pull-right table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Feels like:</td>
            <td><%= @weather['current_observation']['feelslike_string'] %></td>
          <tr>
            <td>Humidity:</td>
            <td><%= @weather['current_observation']['relative_humidity'] %></td>
          </tr>
          <tr>
            <td>Wind:</td>
            <td><%= @weather['current_observation']['wind_string'] %></td>
          </tr>
          <tr>
            <td>UV Index:</td>
            <td><%= @weather['current_observation']['UV'] %> out of 16</td>
          </tr>
        </tbody>
      </table>
      <p>
        <strong>Observed location:</strong> <%= @weather['current_observation']['observation_location']['city'] %><br>
        <em><%= @weather['current_observation']['observation_time'] %></em>
      </p>
    </div>

  </div>
</div>